body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    color: #ccc;
  }
  
  /* Header */
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222;
  }
  
  .logo {
    width: 200px;
  }
  
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    margin-right: 10px;
    
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav a:hover {
    color: #ccc;
  }
  
  /* Content */
  
  .content {
    display: flex;
    flex-direction: row;
    padding-right: 100px;
    min-height: 100%;
  }
  
  .sidebar {
    width: 130px;
    min-height: 100%;
    margin-right: 40px;
    background-color: #333;

}

ul {
    padding-left: 1px;
    list-style-type: none;
}

li {
    padding: 2px;
}

.hidden-content {
    font-size: small;

    padding: 5px;
}